.bricker-original {
  max-width: 100%;
  visibility: hidden;
}

.bricker-display-box {
  z-index: 2;
  position: absolute;
  top: 0;
}

.bricker-display-box-image {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.bricker-display-box:hover canvas {
  visibility: hidden;
}

.tmp-image {
  visibility: hidden;
}

.hide-stuff {
  height: 0;
  overflow: hidden;
}

.toolbar-color-entry {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #fff;
  margin: 5px;
  box-shadow: 0 0 5px #999;
  cursor: pointer;
}

.selected {
  border: 2px solid #444 !important;
}
