.bricker-original {
  max-width: 100%;
  visibility: hidden;
}

.bricker-display-box {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background: #fff;
}

.bricker-display-box-image {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.bricker-display-box:hover canvas {
  visibility: hidden;
}

.tmp-image {
  visibility: hidden;
}

.hide-stuff {
  height: 0;
  overflow: hidden;
}

.toolbar-color-entry {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #fff;
  margin: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.toolbar-color-entry:hover {
  opacity: 1.0;
}

.selected {
  border: 2px solid #444 !important;
  opacity: 1.0;
}

.loading-indicator {
  height: 200px;
}

.toolbar-block-height {
  margin: 20px;
}

.toolbar-block-height input {
  border: 0;
  width: 80px;
  height: 40px;
  font-size: 30px;
  background: #ddd;
  text-align: center;
}

.bricker-thumbnail {
  height: 100px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 3px;
}

.bricker-thumbnail:hover {
  border: 2px solid #444;
}